.Bento {
  transition: 0.2s;
}

.Bento:hover > .ImageDispel {
  transition: opacity 1s;
}

.Image {
  transition: transform 2s ease;
}

.Button, 
.Download,
.Switch input {
  transition: all 0.3s;
}

.Switch > input::before {
  transition: all 0.5s;
}