.Bento {
  transition: 0.2s;
}

.Bento:hover > .ImageDispel {
  transition: opacity 1s;
}

.Image {
  transition: transform 2s ease;
}

.Button, 
.Download,
.Switch input {
  transition: all 0.3s;
}

.Switch > input::before {
  transition: all 0.5s;
}

/* BENTO STYLES -----------------------------------*/

.B1 {justify-content: center; >.Text{text-align: center;} >.Component{align-self: center;}}
.B2 {justify-content: flex-start;}
.B3 {>.Component{align-self: flex-start;}}
.B4 {>.Component{align-self: flex-end;}}
.B5 {>.Text{text-align: right;} >.Component{align-self: flex-start;}}
.B6 {>.Text{text-align: right;} >.Component{align-self: flex-end;}}
.B7 {>.Text{text-align: center;} >.Component{align-self: center;}}
.B8 {justify-content: center;}
.B9 {>.Text, .Component {justify-content: center; text-align: center;}}
/* BENTO STYLES -----------------------------------*/