/* NORMALIZE -----------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  appearance: none;
  text-wrap: pretty;
  list-style-type: none;
  &:focus {appearance: none; border: none;}
}
body {min-height: 100dvh; display: flex; justify-content: center;}
a {cursor: pointer; color: inherit;}
/* NORMALIZE -----------------------------------*/

/* HEADER -----------------------------------*/
header {
  width: 100svw;
  display: flex;
  padding: 20px;
  place-items: center;
  justify-content:space-between;
  z-index: 1000;
  > img {max-height: 80px;}
  > div {text-align: right; #Me{font-weight: 700;}}
  > nav {
    font-weight: 500;
    padding: 20px 40px;
    border-radius: 100px;
    >li {display: flex; gap: 40px;}
  }
}
/* HEADER -----------------------------------*/

/* BENTO -----------------------------------*/
.BentoGrid {
  /*Grid*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-auto-flow: row dense;
  /*Design*/
  border-radius: 20px;
  margin: 0 5px 40px;
  padding: 20px;
  gap: 20px;
}

.Bento {
  /*Grid*/
  overflow: hidden;
  display: grid;

  /*Design*/
  border-radius: 10px;
  transition: 0.2s;
  &:hover {
    transform: scale(1.01);
    >.Image {transform: scale(1.04);}
  }
}

.Text {
  z-index: 200;
  width: 100%;
  height: 100%;
  grid-area: T;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.Image {
  grid-area: I;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: transform 2s ease;
}
/* BENTO -----------------------------------*/

/* BENTO MODELS -----------------------------------*/
.VTI {grid-template-rows: 50% 50%; grid-template-areas: "T""I";}
.VIT {grid-template-rows: 50% 50%; grid-template-areas: "I""T";}
.VTIII {grid-template-rows: 25% 75%; grid-template-areas: "T""I";}
.HTI {grid-template-columns: 50% 50%; grid-template-areas: "T I";}
.HIT {grid-template-columns: 50% 50%; grid-template-areas: "I T";}
.HITTT {grid-template-columns: 25% 75%; grid-template-areas: "I T"}
.TOTAL {display: flex; position: relative; >.Image {position: absolute;}}
.EMPTY:hover {outline: none;}
/* BENTO MODELS -----------------------------------*/

/* TEXT POSITION -----------------------------------*/
.Mid {>.Text {justify-content: center;}}
.End {>.Text {justify-content: end;}}
/* TEXT POSITION -----------------------------------*/

/* RESPONSIVE -----------------------------------*/
@media (width > 768px) {
  .BentoGrid {grid-template-columns: repeat(8, 1fr);}
}
/* RESPONSIVE -----------------------------------*/

.Bottom {text-align: center; padding: 20px;}