/* FONTS -----------------------------------*/
@font-face {
  font-family: Garnett;
  src: url(/src/Fonts/Garnett-Light.ttf);
  font-weight: light;
  font-style: light;
}
@font-face {
  font-family: Garnett;
  src: url(/src/Fonts/Garnett-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Garnett;
  src: url(/src/Fonts/Garnett-Medium.ttf);
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: Garnett;
  src: url(/src/Fonts/Garnett-Semibold.ttf);
  font-weight: 700;
  font-style: bold;
}
/* FONTS -----------------------------------*/

/* NORMALIZE -----------------------------------*/
* {
  font-family: Garnett;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  appearance: none;
  text-wrap: pretty;
  list-style-type: none;
  border: none;
  overflow: hidden;
  letter-spacing: 1px;
  line-height: 24px;
  color: inherit;
}

*:focus {
  appearance: none;
  border: none;
  outline: none;
}

html, body {
  overflow-y: auto;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
  width: 100%;
  --size: 80px;
  --gap: 20px;
  --bentogridsize: calc(var(--bentosize) * 8 + var(--gap) * 9);
  @media (width > 770px) {--bentosize: 130px;}
  @media (width <= 770px) {--bentosize: 90px;}
}
/* NORMALIZE -----------------------------------*/

/* TEXT -----------------------------------*/

h1 {margin: var(--gap);}

h2 {}

h3 {}

h4 {}

p {font-size: 0.8rem;}

a {cursor: pointer; font-weight: lighter;}
.Button, .Download {font-size: 0.8rem;}
/* TEXT -----------------------------------*/

/* OUTSIDE -----------------------------------*/


header {
  position: relative;
  width: 100%;
  display: flex;
  padding: var(--gap);
  place-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header > svg {
  height: 62px;
  width: 62px;
  cursor: pointer;
}

header > svg rect {
  stroke-width: 10px;
}

header > svg:hover rect {
  stroke-width: 40px;
}

header > div {
  text-align: right;
}

.Nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  padding: var(--gap);
  border-radius: 100px;
}

.Nav > ul {
  display: flex;
  gap: var(--gap);
}

.Nav > ul > li:hover {
  transform: scale(1.03);
}

footer {
  text-align: center;
  padding: var(--gap);
  height: fit-content;
  width: 100%;
}

/* OUTSIDE -----------------------------------*/

/* BENTO -----------------------------------*/

.Article {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: var(--gap);
}

.Article .TextArticle {
  text-align: center;
}

.Bento:hover > .ImageBack {
  transform: scale(1.05);
}

.Bento:hover > .ImageDispel {
  transition-delay: 0.4s;
  transition: opacity 2s;
  opacity: 0;
}

.Component {
  display: flex;
  min-height: calc(var(--size) / 2);
  z-index: 300;
  padding: calc(var(--gap)/2) var(--gap) var(--gap) var(--gap);
}

.Text {
  z-index: 500;
  padding: var(--gap) var(--gap) calc(var(--gap)/2) var(--gap);
}

.Image {
  position: absolute;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: transform 2.5s ease;
}

.Text .Limg img {
  width: 50px;
}

.PB {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - var(--gap) * 2);
  min-height: 10px;
  margin: 0 var(--gap) var(--gap) var(--gap);
}

.PB100,
.PBX {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  border-radius: 5px;
}

.BentoGrid {
  z-index: 500;
  width: 100%;
  height: auto;
  border-radius: calc(32px + var(--gap));
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--bentosize), 1fr));
  grid-auto-flow: dense;
  grid-gap: var(--gap);
  padding: var(--gap);
  max-width: var(--bentogridsize);
}

.Bento {
  display: flex;
  flex-direction: column;
  position: relative;
}

.Bento, .MapComponent {
  transition: 0.2s;
  border-radius: 32px;
  position: relative;
}

/* BENTO -----------------------------------*/

/* BENTO SIZES -----------------------------------*/

.H1 {grid-column: span 1;}
.H2 {grid-column: span 2;}
.H3 {grid-column: span 3;}
.H4 {grid-column: span 4;}
.H5 {grid-column: span 5;}
.H6 {grid-column: span 6;}
.H7 {grid-column: span 7;}
.H8 {grid-column: span 8;}

.V1 {min-height: calc(var(--bentosize)); grid-row: span 1;}
.V2 {min-height: calc(var(--bentosize) * 2 + var(--gap)); grid-row: span 2;}
.V3 {min-height: calc(var(--bentosize) * 3 + var(--gap) * 2); grid-row: span 3;}
.V4 {min-height: calc(var(--bentosize) * 4 + var(--gap) * 3); grid-row: span 4;}
.V5 {min-height: calc(var(--bentosize) * 5 + var(--gap) * 4); grid-row: span 5;}
.V6 {min-height: calc(var(--bentosize) * 6 + var(--gap) * 5); grid-row: span 6;}
.V7 {min-height: calc(var(--bentosize) * 7 + var(--gap) * 6); grid-row: span 7;}
.V8 {min-height: calc(var(--bentosize) * 8 + var(--gap) * 7); grid-row: span 8;}

/* BENTO SIZES -----------------------------------*/

/* BENTO STYLES -----------------------------------*/

/* .B0 {nothing} LEFT */
.B1 {justify-content: space-between; text-align: center; .Component {justify-content: center;}} /* CENTER */
.B2 {text-align: right; .Component {justify-content: flex-end;}} /* RIGHT */
.B3 {justify-content: space-between;} /* LEFT */
.B4 {justify-content: center; text-align: center; .Component {justify-content: center;}} /* CENTER */
.B5 {justify-content: space-between; align-items: right; text-align: right; .Component {justify-content: flex-end;}} /* RIGHT */
.B6 {justify-content: flex-end;} /* LEFT */
.B7 {justify-content: flex-end; align-items: right; text-align: right; .Component {justify-content: flex-end;}} /* RIGHT */
.B8 {justify-content: space-between; > .Component {justify-content: flex-end;}} /* LEFT */
.B9 {justify-content: space-between; text-align: right;} /* RIGHT */

/* BENTO STYLES -----------------------------------*/

/* COMPONENTS -----------------------------------*/
.Button, 
.Download,
.Switch input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  min-height: calc(var(--size) / 2);
  cursor: pointer;
  border-radius: 100px;
  position: relative;
}

.Button, 
.Download {
  transition: all 0.3s;
}

.Download::before {
  writing-mode: vertical-rl;
}

.Switch {
  height: calc(var(--size) / 2);
}

.Switch > input::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '';
  position: absolute;
  width: calc(var(--size) / 2);
  height: calc(var(--size) / 2);
  left: 0;
  top: 50%;
  transform: translateY(-50%) scale(0.7);
  border-radius: 100px;
}

.Switch > input:checked::before {
  left: 50%;
}

.ThemeSwitch input::before {
  font-size: 2rem;
  content: '';
}

.ThemeSwitch input:checked::before {
  content: '';
}

.LanguageSwitch input::before {
  content: 'EN';
}

.LanguageSwitch input:checked::before {
  content: 'ES';
}

.MapComponent:hover > .Text {
   display: none;
}

.MapComponent .Map {
  z-index: 100;
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
}

.MapComponent .Map div.mapboxgl-ctrl-bottom-right,
.MapComponent .Map div.mapboxgl-ctrl-bottom-left {
  display: none;
}

.MapComponent .Text {
  position: absolute;
  top: 0;
}

/* COMPONENTS -----------------------------------*/

/* RESPONSIVE -----------------------------------*/

@media (width > 0) and (width <= 570px) {

  .Nav {top: -150px;} /*oculta el navbar*/

  .BentoGrid {grid-template-columns: repeat(4, 1fr);}

  .H5 {grid-column: span 4;}
  .H6 {grid-column: span 4;}
  .H7 {grid-column: span 4;}
  .H8 {grid-column: span 4;}

}

@media (width > 570px) and (width <= 770px) {

  .Nav {top: -150px;} /*oculta el navbar*/

  .BentoGrid {grid-template-columns: repeat(8, 1fr);}

}

@media (width > 770px) and (width <= 1164px) {

  .Nav {top: -150px;} /*oculta el navbar*/

  .BentoGrid {grid-template-columns: repeat(8, 1fr);}

}

@media (width > 1164px) {

  .Article .TextArticle {max-width: 800px;}

  .BentoGrid {grid-template-columns: repeat(8, 1fr);}

}

/* RESPONSIVE -----------------------------------*/