/* NORMALIZE -----------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  appearance: none;
  text-wrap: pretty;
  list-style-type: none;
  border: none;
  overflow: hidden;
  letter-spacing: 0.2px;
}

*:focus {
  appearance: none;
  border: none;
  outline: none;
}

html, body {
  overflow-y: auto;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
  width: 100%;
  --size: 100px;
}

a {
  cursor: pointer;
  color: inherit;
}
/* NORMALIZE -----------------------------------*/

/* OUTSIDE -----------------------------------*/
.Me {
  font-weight: 600;
}

header {
  position: relative;
  width: 100%;
  display: flex;
  padding: 20px;
  place-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header > svg {
  height: 62px;
  width: 62px;
  cursor: pointer;
}

header > svg rect {
  stroke-width: 10px;
}

header > svg:hover rect {
  stroke-width: 40px;
}

header > div {
  text-align: right;
}

.Nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  padding: 20px 30px;
  border-radius: 100px;
}

.Nav > ul {
  display: flex;
  gap: 40px;
}

.Nav > ul > li:hover {
  transform: scale(1.03);
}

footer {
  text-align: center;
  padding: 60px 0 20px;
  height: fit-content;
  width: 100%;
}

article {
  margin-top: -50px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
/* OUTSIDE -----------------------------------*/

/* BENTO -----------------------------------*/
.Separator {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Separator > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 400px;

}

.Article {
  margin-top: -540px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 50px;
}

.Article .TextArticle {
  text-align: center;
}

.Article .TextArticle > h1 {
  font-size: 3rem;
}

.Article .TextArticle > p {
  font-size: 1.3rem;
}

.BentoGrid {
  z-index: 500;
  display: grid;
  width: 100%;
  height: max-content;
  flex-direction: row;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: row dense;
  border-radius: 20px;
  padding: 12px;
  gap: 12px;
}

.Bento {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-width: 150px;
  min-height: max-content;
  border-radius: 10px;
}

.Bento:hover > .ImageBack {
  transform: scale(1.04);
}

.Bento:hover > .ImageDispel {
  opacity: 0;
}

.Component {
  display: flex;
  align-items: center;
  z-index: 300;
  padding: 10px;
}

.Text {
  z-index: 200;
  display: flex;
  flex-direction: column;
}

.Image {
  position: absolute;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  z-index: 100;
}
/* BENTO -----------------------------------*/

/* BENTO STYLES -----------------------------------*/
.B1 {
  justify-content: flex-start;
}

.B2 > .Component {
  justify-content: left;
}

.B3 > .Component {
  justify-content: right;
}

.B4 > .Text {
  text-align: right;
}

.B4 > .Component {
  justify-content: left;
}

.B5 > .Text {
  text-align: right;
}

.B5 > .Component {
  justify-content: right;
}

.B6 > .Text {
  text-align: center;
}

.B6 > .Component {
  justify-content: center;
}

.B7 {
  justify-content: center;
}

.B7 > .Text,
.B7 > .Component {
  justify-content: center;
  text-align: center;
}

.B8 {
  justify-content: center;
}
/* BENTO STYLES -----------------------------------*/

/* RESPONSIVE -----------------------------------*/
@media (width <= 770px) {

  .Nav {
    top: -150px;
  }

  .Article .TextArticle {
    padding: 0 12px;
  }

  .Text {
    padding: 10px;
  }

  .Large {
    grid-column: span 4 !important;
  }

  h2 {
    font-size: 1rem;
  }

  a,
  h3,
  p {
    font-size: 0.8rem;
  }

  .Separator svg {
    width: 300%;
  }
}

@media (width > 770px) {
  .Article .TextArticle {
    padding: 0 20px;
  }

  .BentoGrid {
    grid-template-columns: repeat(8, 1fr);
    padding: 16px;
    gap: 16px;
  }

  .Nav {
    top: auto;
  }

  .Text {
    padding: 10px;
  }

  h2 {
    font-size: 1.2rem;
  }

  a,
  h3,
  p {
    font-size: 1rem;
  }

  .Separator svg {
    width: 200%;
  }
}

@media (width > 1000px) {
  .Article .TextArticle {
    max-width: 800px;
  }

  .BentoGrid {
    max-width: 1170px;
  }

  h2 {
    font-size: 1.3rem;
  }

  a,
  h3,
  p {
    font-size: 1rem;
  }

  .Separator svg {
    width: 100%;
  }
}
/* RESPONSIVE -----------------------------------*/

/* COMPONENTS -----------------------------------*/
.Button, 
.Download,
.Switch input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: calc(var(--size) / 2);
  cursor: pointer;
  border-radius: 100px;
  font-weight: 600;
  font-size: 1rem;
  position: relative;
}

.Download::before {
  writing-mode: vertical-rl;
}

.Switch {
  height: calc(var(--size) / 2);
}

.Switch > input::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '';
  position: absolute;
  width: calc(var(--size) / 2);
  height: calc(var(--size) / 2);
  left: 0;
  top: 50%;
  transform: translateY(-50%) scale(0.7);
  border-radius: 100px;
}

.Switch > input:checked::before {
  left: 50%;
}

.ThemeSwitch input::before {
  font-size: 2rem;
  content: '';
}

.ThemeSwitch input:checked::before {
  content: '';
}

.LanguageSwitch input::before {
  content: 'EN';
}

.LanguageSwitch input:checked::before {
  content: 'ES';
}

.MapComponent {
  position: relative;
  border-radius: 10px;
}

.MapComponent .Map {
  z-index: 100;
  height: 100%;
}

.MapComponent .Map div.mapboxgl-ctrl-bottom-right,
.MapComponent .Map div.mapboxgl-ctrl-bottom-left {
  display: none;
}

.MapComponent .Text {
  z-index: 500;
  position: absolute;
  top: 0;
}

.ProgressBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5px;
}

.ProgressBar .PBimg {
  height: 50px;
  min-width: 50px;
}

.ProgressBar .PBimg img {
  width: 50px;
}

.ProgressBar .PB {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.ProgressBar .PB .PBt {
  text-align: left;
}

.ProgressBar .PB100 {
  width: 100%;
  height: 10px;
  border-radius: 5px;
}

.ProgressBar .PBX {
  height: 100%;
  text-align: center;
}
/* COMPONENTS -----------------------------------*/