/* NORMALIZE -----------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  appearance: none;
  text-wrap: pretty;
  list-style-type: none;
  border: none;
  overflow-x: hidden;
  &:focus {appearance: none; border: none; outline: none;}
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
  width: 100%;
  --size: 100px;
}
a {cursor: pointer; color: inherit;}
h2 {font-size: 1.2rem;}
p {font-size: 0.9rem;}
/* NORMALIZE -----------------------------------*/

/* OUTSIDE -----------------------------------*/
header {
  position: relative;
  width: 100%;
  display: flex;
  padding: 20px;
  place-items: center;
  justify-content:space-between;
  z-index: 1000;
  > img {max-height: 80px; cursor: pointer;}
  > div {text-align: right;}
  > nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    top: -150px;
    padding: 20px 30px;
    border-radius: 100px;
    >ul {
      display: flex;
      gap: 40px;
      >li:hover {transform: scale(1.03);}
    }
  }
}

footer {
  text-align: center;
  padding: 60px 0 20px;
  height: fit-content;
  width: 100%;
}
.Me{font-weight: 600;}
/* OUTSIDE -----------------------------------*/

/* BENTO -----------------------------------*/
.BentoGrid {
  /*Grid*/
  display: grid;
  width: 100%;
  height: max-content;
  flex-direction: row;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: row dense;
  /*Design*/
  border-radius: 20px;
  padding: 12px;
  gap: 12px;
}

.Bento {
  /*Flex*/
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  min-height: max-content;
  /*Design*/
  border-radius: 10px;
  transition: 0.2s;
  &:hover {
    >.ImageBack {transform: scale(1.04);}
    >.ImageDispel {  transition: opacity 1s; opacity: 0;}
    >.Component .Button::before{content: "See more";}
  }
}

.Component {
  display: flex;
  align-items: center;
  z-index: 300;
  padding: 10px;
}

.Text {
  z-index: 200;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: hidden;
  height: 100%;
  >p {overflow: hidden;}
}

.Image {
  position: absolute;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: transform 2s ease;
}
/* BENTO -----------------------------------*/

/* BENTO STYLES -----------------------------------*/
.B1 {justify-content: flex-start;}
.B2 {>.Component{align-self: flex-start;}}
.B3 {>.Component{align-self: flex-end;}}
.B4 {>.Text{text-align: right;} >.Component{align-self: flex-start;}}
.B5 {>.Text{text-align: right;} >.Component{align-self: flex-end;}}
.B6 {>.Text{text-align: center;} >.Component{align-self: center;}}
.B7 {justify-content: center; >.Text{text-align: center;} >.Component{align-self: center;}}
.B8 {justify-content: center;}
.B9 {>.Text, .Component {justify-content: center; text-align: center;}}
/* BENTO STYLES -----------------------------------*/

/* RESPONSIVE -----------------------------------*/
@media (width <= 770px) {
  .Large {grid-column: span 4 !important;} 
  
}

@media (width > 770px) {
  .BentoGrid {grid-template-columns: repeat(8, 1fr); padding: 20px; gap: 20px;} 
  .Nav {top: auto;}
  .Text, .Component {padding: 10px;}
  h2 {font-size: 1.1rem;}
  p {font-size: 0.8rem;}
}

@media (width > 1000px) {
  .BentoGrid { max-width:1000px;} 
  h2 {font-size: 1.2rem;}
  p {font-size: 0.9rem;}
}
/* RESPONSIVE -----------------------------------*/

/* COMPONENTS -----------------------------------*/
.Button, .Switch input {
  width: var(--size);
  height: calc(var(--size) / 2);
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 100px;
  font-weight: 600;
  font-size: 1rem;
  position: relative;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {content: "➜";}
}

.Switch {
  overflow: hidden;
  height: calc(var(--size) / 2);
  >input{
    &::before {
      content: "";
      position: absolute;
      width: calc(var(--size) / 2);
      height: calc(var(--size) / 2);
      left: 0;
      top: 50%;
      transform: translateY(-50%) scale(0.7);
      border-radius: 100px;
      transition: all 0.5s;
    }
    &:checked::before {left: 50%;}
  }
}
/* COMPONENTS -----------------------------------*/