/* ROOT -------------------------------------------------------*/
:root {
  --gold: #F2C491;
  --christine: #D6661A;
  --roseofsharon: #BA441A;
  --hippieblue: #2C8396;
  --taxbreak: #426B6A;
  --mikado: #37230F;
  --white: #FFFFFF;
  --transparent: #00000000;

  background-color: var(--gold);
  color: var(--mikado);
  font-family: -apple-system, Segoe UI, Roboto;
}
/* ROOT -------------------------------------------------------*/

.BentoGrid {background-color: var(--mikado)}
.Bento {background-color: var(--roseofsharon); &:hover {outline: 4px solid var(--hippieblue);}}
.Transparent:hover {outline: none;}

#Me {color: var(--roseofsharon);}
nav {background-color: var(--mikado); color: var(--white);}

.Switch input {
  background-color: var(--white);
  &:checked {background-color: var(--mikado);}
  &:checked::before {background-color: var(--white);}
  &::before {background-color: var(--mikado);}
}

.Button {
  background-color: var(--white); color: var(--mikado);
  &:hover {background-color: var(--mikado); color: var(--white);}
}