/* ROOT -------------------------------------------------------*/
:root {
  --gold: #F2C491;
  --christine: #D6661A;
  --roseofsharon: #BA441A;
  --hippieblue: #2C8396;
  --taxbreak: #426B6A;
  --mikado: #37230F;
  --white: #FFFFFF;
  --transparent: #00000000;
  --darktransparent: #14292d50;

  background-color: var(--gold);
  color: var(--mikado);
  font-family: -apple-system, Segoe UI, Roboto;
}
/* ROOT -------------------------------------------------------*/

/* THEME LIGHT -------------------------------------------------------*/

/* THEME LIGHT -------------------------------------------------------*/

/* THEME DARK -------------------------------------------------------*/

/* THEME DARK -------------------------------------------------------*/


[data-theme="light"] {
  .BentoGrid {background-color: var(--mikado)}
  .Bento {background-color: var(--roseofsharon); &:hover {outline: 4px solid var(--hippieblue);}}
  .Transparent:hover {outline: none;}

  #Me {color: var(--roseofsharon);}
  nav {background-color: var(--mikado); color: var(--white);}

  .Button, .Switch input {
    background-color: var(--transparent); color: var(--white); outline: 2px solid var(--white);
  }

  .Switch input {
    &:checked {background-color: var(--darktransparent);}
    &:checked::before {background-color: var(--white);}
    &::before {background-color: var(--white);}
  }

  .Button {
    &:hover {background-color: var(--darktransparent); color: var(--white);}
  }
}

[data-theme="dark"] {
  .BentoGrid {background-color: var(--mikado)}
  .Bento {background-color: var(--roseofsharon); &:hover {outline: 4px solid var(--hippieblue);}}
  .Transparent:hover {outline: none;}

  #Me {color: var(--roseofsharon);}
  nav {background-color: var(--mikado); color: var(--white);}

  .Button, .Switch input {
    background-color: var(--transparent); color: var(--white); outline: 2px solid var(--white);
  }

  .Switch input {
    &:checked {background-color: var(--darktransparent);}
    &:checked::before {background-color: var(--white);}
    &::before {background-color: var(--white);}
  }

  .Button {
    &:hover {background-color: var(--darktransparent); color: var(--white);}
  }
}