:root {
  --primary: #118ab2;
  --secondary: #A13D63;
  --light: #F7F2F2;
  --white: #FAFAFA;
  --black: #1E1E1E;
  --transparent15dark: rgba(0, 0, 0, 0.15);
  --transparent30dark: rgba(0, 0, 0, 0.30);
  --transparent15light: rgba(255, 255, 255, 0.15);
  --transparent30light: rgba(255, 255, 255, 0.30);
  --transparent: #00000000;

}

/* THEME LIGHT -------------------------------------------------------*/
body {
  background-color: var(--light);
  color: var(--black);
}

.BentoGrid {
  background-color: var(--transparent);
}

.Bento,
.MapComponent {
  background-color: var(--white);
  outline: 1px solid var(--transparent15dark);
}

.Bento:hover,
.MapComponent:hover {
  outline: 4px solid var(--primary);
}

.Bento .Text h4,
.Bento .Text h5,
.Bento .Text p,
.Map .Text h4,
.Map .Text p {
  color: var(--black);
}

.Transparent {
  outline: none;
}

.Transparent:hover {
  outline: none;
}

.CreatedBy {
  color: var(--transparent30dark);
}

.Me {
  color: var(--primary);
}

header nav {
  background-color: var(--transparent30light);
  color: var(--black);
}

header svg rect {
  stroke: var(--primary);
}

header svg path {
  fill: var(--transparent30dark);
}

.Article .TextArticle h1,
.Article .TextArticle p {
  color: var(--black);
}

.Button,
.Switch input {
  background-color: var(--transparent15dark);
  color: var(--white);
}

.Button:hover,
.Switch input:hover {
  background-color: var(--transparent15dark);
  color: var(--primary);
}

.Switch input:checked {
  background-color: var(--transparent15dark);
}

.Switch input::before {
  background-color: var(--white);
  color: var(--black);
}

.Switch input:hover::before {
  background-color: var(--primary);
  color: var(--white);
}

.Switch input:checked::before {
  background-color: var(--white);
  color: var(--black);
}

.PBimg img {
  opacity: 1;
}

.PB100 {
  background-color: var(--transparent15dark);
}

.PBX {
  background-color: var(--primary);
}
/* THEME LIGHT -------------------------------------------------------*/

/* THEME DARK -------------------------------------------------------*/
[data-theme='dark'] {
  body {
    background-color: var(--black);
    color: var(--white);
  }

  .BentoGrid {
    background-color: var(--transparent15dark);
  }

  .Bento,
  .MapComponent {
    background-color: var(--transparent);
    outline: none;
  }

  .Bento:hover,
  .MapComponent:hover {
    outline: 4px solid var(--secondary);
  }

  .Bento .Text h4,
  .Bento .Text h5,
  .Bento .Text p,
  .Map .Text h4,
  .Map .Text p {
    color: var(--white);
  }

  .CreatedBy {
    color: var(--transparent30light);
  }

  .Me {
    color: var(--secondary);
  }

  header nav {
    background-color: var(--transparent15dark);
    color: var(--white);
  }

  header svg rect {
    stroke: var(--secondary);
  }

  header svg path {
    fill: var(--transparent15light);
  }

  .Article .TextArticle h1,
  .Article .TextArticle p {
    color: var(--white);
  }

  .Button,
  .Switch input {
    background-color: var(--transparent30dark);
    color: var(--white);
  }

  .Button:hover,
  .Switch input:hover {
    background-color: var(--transparent30dark);
    color: var(--secondary);
  }

  .Switch input:checked {
    background-color: var(--transparent30dark);
  }

  .Switch input::before {
    background-color: var(--white);
    color: var(--black);
  }

  .Switch input:hover::before {
    background-color: var(--secondary);
    color: var(--white);
  }

  .Switch input:checked::before {
    background-color: var(--white);
    color: var(--black);
  }

  .PBimg img {
    opacity: 0.7;
  }

  .PB100 {
    background-color: var(--transparent15light);
  }

  .PBX {
    background-color: var(--secondary);
  }

  .Transparent {
    outline: none;
  }
  
  .Transparent:hover {
    outline: none;
  }
}

/* THEME DARK -------------------------------------------------------*/

