/* ROOT -------------------------------------------------------*/
:root {
  --gold: #F2C491;
  --christine: #D6661A;
  --roseofsharon: #BA441A;
  --hippieblue: #2C8396;
  --taxbreak: #426B6A;
  --mikado: #37230F;
  --white: #FFFFFF;
  --transparent: #00000000;
  --darktransparent: #14292d50;
  --darkgold: #916e47;
  --darkchristine: #934613;
  --darkroseofsharon: #843112;
  --darkhippieblue: #1b5e6d;
  --darktaxbreak: #274847;
  --darkmikado: #150c04;
  --black: #000000;

  color: var(--mikado);
  font-family: -apple-system, Segoe UI, Roboto;
}
/* ROOT -------------------------------------------------------*/

/* THEME LIGHT -------------------------------------------------------*/
[data-theme="light"] {
  body {background-color: var(--gold);}
  .BentoGrid {background-color: var(--mikado)}
  .Bento {background-color: var(--roseofsharon); &:hover {outline: 4px solid var(--hippieblue);}}
  .Transparent:hover {outline: none;}

  #Me {color: var(--roseofsharon);}
  nav {background-color: var(--mikado); color: var(--white);}

  .Button, .Switch input {
    background-color: var(--transparent); color: var(--white); outline: 2px solid var(--white);
  }

  .Switch input {
    &:checked {background-color: var(--darktransparent);}
    &:checked::before {background-color: var(--white);}
    &::before {background-color: var(--white);}
  }

  .Button {
    &:hover {background-color: var(--darktransparent); color: var(--white);}
  }
}
/* THEME LIGHT -------------------------------------------------------*/

/* THEME DARK -------------------------------------------------------*/
[data-theme="dark"] {
  body {background-color: var(--darkchristine);}
  .BentoGrid {background-color: var(--darkmikado)}
  .Bento {background-color: var(--darkroseofsharon); &:hover {outline: 4px solid var(--darkhippieblue);}}
  .Transparent:hover {outline: none;}

  #Me {color: var(--gold);}
  nav {background-color: var(--darkmikado); color: var(--white);}

  .Button, .Switch input {
    background-color: var(--transparent); color: var(--white); outline: 2px solid var(--darkgold);
  }

  .Switch input {
    &:checked {background-color: var(--darktransparent);}
    &:checked::before {background-color: var(--darkgold);}
    &::before {background-color: var(--darkgold);}
  }

  .Button {
    &:hover {background-color: var(--darktransparent); color: var(--white);}
  }
}
/* THEME DARK -------------------------------------------------------*/