:root {
  --primary: #0099E5;
  --secondary: #CB7043;
  --tertiary: #34BF49;
  --light: #F7F2F2;
  --lightTertiary: #eff7f0;
  --white: #FFFFFF;
  --black: #090C10;
  --dark: #13171f;
  --transparent15primary: #0099E526;
  --transparent15dark: rgba(0, 0, 0, 0.15);
  --transparent30dark: rgba(0, 0, 0, 0.30);
  --transparent03light: rgba(255, 255, 255, 0.03);
  --transparent15light: rgba(255, 255, 255, 0.15);
  --transparent30light: rgba(255, 255, 255, 0.30);
  --transparent: #00000000;
  --stroke: #535252;
}

@keyframes pulse {
  0% {box-shadow: 0 0 0 0 var(--tertiary);}
  100% {box-shadow: 0 0 0 5px var(--transparent03light);}
} 

/* LIGHT THEME -------------------------------------------------------*/
body {
  background-color: var(--lightTertiary);
}

header {
  background-color: var(--white);
  border: 1px solid var(--stroke);
}

header > .Header_Nav {
  color: var(--secondary);
}

header > .Header_Pulse {
  color: var(--tertiary);
  @media (width <= 530px) {color: var(--dark);}
}

header > .Header_Pulse > .Pulse {
  background-color: var(--tertiary);
}

.Article > .TextArticle {
  color: var(--stroke);
}

.Article > .BentoGrid {
  background-color: var(--white);
  border: 1px solid var(--secondary);
}

#Presentation > .Statement > .Text > p {
  color: var(--stroke);
}

#Profile_Image {
  background-color: var(--secondary);
}

.Bento > .ImageBack {
  opacity: 0.5;
  @media (width <= 833px) {opacity: 0.3;}
}

.Bento,
.MapComponent {
  background-color: var(--lightTertiary);
  outline: 1px solid var(--transparent15dark);
}

.Bento:hover,
.MapComponent:hover {
  background-color: var(--lightTertiary);
  outline: 1px solid var(--secondary);
}

.Bento > .Statement > .Text > h4,
.MapComponent > .Text > h4 {
  color: var(--stroke);
}

.Bento > .Statement > .Text > p,
.MapComponent > .Text > p {
  color: var(--stroke);
}

.Bento > .Statement > .Text > p > a {
  color: var(--secondary);
}

.Limg > img {
  opacity: 0.8;
  filter: invert(80%)
}

#Flag > .Statement > .Limg > img {
  opacity: 1;
  filter: invert(0%)
}

.PBd {
  background-color: var(--transparent15dark);
}

.PBn {
  background-color: var(--secondary);
}

.Transparent, .Transparent:hover {
  outline: none;
}

.Transparent > .Statement > .Text > h4 {
  color: var(--stroke);
}

.Created {
  color: var(--dark);
}

.Me {
  color: var(--secondary);
}

.Button, .Switch > input, .Switch > input:checked {
  background-color: var(--secondary);
  color: var(--white);
}

.Button:hover, .Switch > input:hover, .Switch > input:checked:hover {
  background-color: var(--secondary);
  color: var(--white);
}

.Switch > input::before, .Switch > input:checked::before {
  background-color: var(--secondary);
  color: var(--white);
}

.Switch > input:hover::before, .Switch > input:checked:hover::before {
  background-color: var(--white);
  color: var(--secondary);
}

header > .Header_Components > .Component > .Switch > input,
header > .Header_Components > .Switch > input:checked {
  background-color: var(--lightTertiary);
  border: 1px solid var(--transparent15dark);
}

header > .Header_Components > .Component > .Switch > input:hover,
header > .Header_Components > .Component > .Switch > input:checked:hover {
  border: 1px solid var(--secondary);
  background-color: var(--lightTertiary);
}

header > .Header_Components > .Component > .Switch > input::before,
header > .Header_Components > .Component > .Switch > input:checked::before {
  background-color: var(--secondary);
  color: var(--white);
}

header > .Header_Components > .Component > .Switch > input:hover::before,
header > .Header_Components > .Component > .Switch > input:checked:hover::before {}
/* LIGHT THEME -------------------------------------------------------*/

/* DARK THEME -------------------------------------------------------*/
[data-theme="dark"] {

  body {
    background-color: var(--dark);
  }
  
  header {
    background-color: var(--black);
    border: 1px solid var(--primary);
    @media (width <= 530px) {border: 1px solid var(--tertiary)}
  }
  
  header > .Header_Nav {
    color: var(--light);
  }
  
  header > .Header_Pulse {
    color: var(--tertiary);
  }
  
  header > .Header_Pulse > .Pulse {
    background-color: var(--tertiary);
  }
  
  .Article > .TextArticle {
    color: var(--light);
    opacity: 1;
  }
  
  .BentoGrid {
    background-color: var(--black);
    border: 1px solid var(--primary);
  }
  
  #Presentation > .Statement > .Text > p {
    color: var(--white);
    opacity: 1;
  }

  #Profile_Image {
    background-color: var(--primary);
  }
  
  
  .Bento > .ImageBack {
    opacity: 0.3;
  }
  
  .Bento,
  .MapComponent {
    background-color: var(--dark);
    outline: 1px solid var(--transparent30light);
  }
  
  .Bento:hover,
  .MapComponent:hover {
    background-color: var(--transparent15primary);
    outline: 1px solid var(--primary);
  }
  
  .Bento > .Statement > .Text > h4,
  .MapComponent > .Text > h4 {
    color: var(--white);
  }
  
  .Bento > .Statement > .Text > p,
  .Map > .Text > p {
    color: var(--white);
    opacity: 0.8;
  }
  
  .Bento > .Statement > .Text > p > a {
    color: var(--primary);
  }
  
  .Limg > img {
    opacity: 0.8;
    filter: invert(0%)
  }
  
  .PBd {
    background-color: var(--transparent15dark);
  }
  
  .PBn {
    background-color: var(--primary);
  }
  
  .Transparent, .Transparent:hover {
    outline: none;
  }
  
  .Created {
    color: var(--transparent30light);
  }
  
  .Me {
    color: var(--primary);
  }

  .Button, .Switch > input, .Switch > input:checked {
    background-color: var(--primary);
    color: var(--light);
  }
  
  .Button:hover, .Switch > input:hover, .Switch > input:checked:hover {
    background-color: var(--primary);
    color: var(--white);
  }
  
  .Switch > input::before, .Switch > input:checked::before {
    background-color: var(--primary);
    color: var(--white);
  }
  
  .Switch > input:hover::before, .Switch > input:checked:hover::before {
    background-color: var(--white);
    color: var(--primary);
  }

  header > .Header_Components > .Component > .Switch > input,
  header > .Header_Components > .Switch > input:checked {
    background-color: var(--dark);
    border: 2px solid var(--stroke);
  }

  header > .Header_Components > .Component > .Switch > input:hover,
  header > .Header_Components > .Component > .Switch > input:checked:hover {
    border: 2px solid var(--primary);
    background-color: var(--dark);
  }

  header > .Header_Components > .Component > .Switch > input::before,
  header > .Header_Components > .Component > .Switch > input:checked::before {
    background-color: var(--black);
    color: var(--light);
  }

  header > .Header_Components > .Component > .Switch > input:hover::before,
  header > .Header_Components > .Component > .Switch > input:checked:hover::before {}

}


header > .Header_Components > .Component > .ThemeSwitch > input::before,
.Bento > .Component > .ThemeSwitch > input::before {
  background-color: transparent;
}

header > .Header_Components > .Component > .ThemeSwitch > input:checked::before,
.Bento > .Component > .ThemeSwitch > input:checked::before {
  background-color: transparent;
}

/* SECONDARY THEME -------------------------------------------------------*/