/* ROOT -------------------------------------------------------*/
:root {
  --primarylight: #2C8396;
  --primarydark: #274847;
  --secondarylight: #BA441A;
  --secondarydark: #843112;
  --light: #fdf0d5;
  --dark: #37230F;

  --white: #FAFAFA;
  --black: #1E1E1E;
  --darktransparent: #0000002c;
  --transparent: #00000000;
 
  font-family: -apple-system, Segoe UI, Roboto;
}
/* ROOT -------------------------------------------------------*/


/* THEME LIGHT -------------------------------------------------------*/
body {background-color: var(--light); color: var(--light);}
.BentoGrid {background-color: var(--darktransparent)}
.Bento, .Map {background-color: var(--primarylight); &:hover {outline: 4px solid var(--primarydark);}}
.Transparent:hover {outline: none;}

.CreatedBy {color: var(--dark);}
.Me {color: var(--secondarylight);}
nav {background-color: var(--darktransparent); color: var(--primarydark);}


.Button, .Switch input {
  background-color: var(--darktransparent); color: var(--light);
  &:hover {background-color: var(--darktransparent); color: var(--white);}
}

.Switch input {
  &:checked {background-color: var(--primarylight);}
  &:checked::before {background-color: var(--primarydark);}
  &::before {background-color: var(--light);}
  &:hover::before {background-color: var(--primarylight);}
}
/* THEME LIGHT -------------------------------------------------------*/

/* THEME DARK -------------------------------------------------------*/
[data-theme="dark"] {
  body {background-color: var(--black); color: var(--white);}
  .BentoGrid {background-color: var(--darktransparent)}
  .Bento {background-color: var(--transparent);}
  .Transparent:hover {outline: none;}

  .CreatedBy {color: var(--light);}
  .Me {color: var(--secondarylight);}
  nav {background-color: var(--darktransparent); color: var(--light);}
  h2 {color: var(--secondarylight);}

  .Button, .Switch input {
    background-color: var(--transparent); color: var(--white);
    &:hover {background-color: var(--darktransparent); color: var(--white);}
    &:checked {background-color: var(--darktransparent);}
    &:checked::before {background-color: var(--white);}
    &:hover:checked::before {background-color: var(--secondarylight);}
  }
}
/* THEME DARK -------------------------------------------------------*/